<div>
  Component aboutt
  <br/>
  <br />
  global role: <b>{{globals.role}}</b>
</div>
<div>
<input [(ngModel)]="role" />
  <button (click)="changedRole(role)">aplly</button>
</div>
<br>
<br>
<br>
Nom  :<input/> <br><br>
Prenom:<input/> <br><br>
Numero:<input/><br><br>
Adress:<textarea> </textarea><br><br>
pays  :<input/> <br><br>
Entreprise  :<textarea></textarea> <br><br>
Fonction  :<textarea></textarea> <br><br>
Email :<input/> <br><br>
Age   :<input/> <br><br>
Facebook  :<input/> <br><br>

               <button>valider</button>
